driver = mysql
connect = host=127.0.0.1 dbname=mailserver user=mailserver password=mailserver
default_pass_scheme = PLAIN-MD5
password_query = SELECT email as user, password FROM virtual_users WHERE email='%u';
